<h1>Number</h1>
@if (numberUx$ | async; as response) {
  @if (response.success) {
    @if (response.result; as result) {
      <div>{{ result }}</div>
    } @else {
      <div>Response was undefined</div>
    }
  } @else {
    <div>{{ response.error }}</div>
  }
} @else {
  <div>Loading...</div>
}

<h1>Squared</h1>
@if (numberSquaredUx$ | async; as response) {
  @if (response.success) {
    @if (response.result; as result) {
      <div>{{ result }}</div>
    } @else {
      <div>Response was undefined</div>
    }
  } @else {
    <div>{{ response.error }}</div>
  }
} @else {
  <div>Loading...</div>
}

<h1>Halved Square</h1>
@if (numberHalvedSquareUx$ | async; as response) {
  @if (response.success) {
    @if (response.result; as result) {
      <div>{{ result }}</div>
    } @else {
      <div>Response was undefined</div>
    }
  } @else {
    <div>{{ response.error }}</div>
  }
} @else {
  <div>Loading...</div>
}
